.rule {
    font-weight: bold;
    font-size: 18px;
    margin-left: 3rem;
    margin-top: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: black;
  }