.rule{
    font-weight: bold;
    font-size: 18px;
    margin-left: 3rem;
    margin-top: 2rem;
    width:80%;
}
.cardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width:80%;
    margin: 0 auto;
    margin-top: 3rem;
    min-height: 100vh;
}

@media (max-width:576px){.cardContainer{width: 100%;}}
