.container{
    background-color: blanchedalmond;
    min-height: 100vh;
}
.title{
    margin-left: 3rem;
}
.main{
    margin: 4rem auto;
    margin-bottom: 0;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width:85%;
    display: flex;
    flex-wrap: wrap;
}
@media (max-width:576px){
    .main{
    width:55%;
    }
}